<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>admin</servlet-name>
    <servlet-class>com.action.admin_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>kefangleixing</servlet-name>
    <servlet-class>com.action.kefangleixing_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kefangleixing</servlet-name>
    <url-pattern>/kefangleixing</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>kefang</servlet-name>
    <servlet-class>com.action.kefang_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kefang</servlet-name>
    <url-pattern>/kefang</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>kehu</servlet-name>
    <servlet-class>com.action.kehu_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kehu</servlet-name>
    <url-pattern>/kehu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>kefangyuding</servlet-name>
    <servlet-class>com.action.kefangyuding_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kefangyuding</servlet-name>
    <url-pattern>/kefangyuding</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>kefangruzhu</servlet-name>
    <servlet-class>com.action.kefangruzhu_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kefangruzhu</servlet-name>
    <url-pattern>/kefangruzhu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>goods</servlet-name>
    <servlet-class>com.action.goods_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goods</servlet-name>
    <url-pattern>/goods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>canzhuoyuding</servlet-name>
    <servlet-class>com.action.canzhuoyuding_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>canzhuoyuding</servlet-name>
    <url-pattern>/canzhuoyuding</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>canyinxiaofei</servlet-name>
    <servlet-class>com.action.canyinxiaofei_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>canyinxiaofei</servlet-name>
    <url-pattern>/canyinxiaofei</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>crossDomainSessionSecurity</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>activeReverseAjaxEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>initApplicationScopeCreatorsAtStartup</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>maxWaitAfterWrite</param-name>
      <param-value>500</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SetChartEncoding</filter-name>
    <filter-class>com.util.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetChartEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>